---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<div class="wrapper" {...storyblokEditable(blok)}>
    <details>
        <summary><h3>{blok.summary}&#8600;</h3></summary>
        <p>{blok.content}</p>
    </details>
</div>

<style>
    /* DROPDOWN STYLING */

    .wrapper {
        background: black;
    }

    details {
        padding: 16px 32px 20px 32px;
        border-bottom: 2px solid white;
    }

    p {
        color: white;
        padding-bottom: 24px;
    }
</style>
