---
import { storyblokEditable } from '@storyblok/astro';
import { useStoryblokApi } from '@storyblok/astro';

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get('cdn/stories', {
    version: import.meta.env.DEV ? 'draft' : 'published',
    content_type: 'blogPost',
});

const posts = data.stories.map((story) => {
    return {
        title: story.content.title,
        date: new Date(story.published_at).toLocaleDateString('en-US', {
            dateStyle: 'full',
        }),
        description: story.content.description,
        slug: story.full_slug,
    };
});

const { blok } = Astro.props;
---

<ul {...storyblokEditable(blok)}>
    {
        posts.map((post) => (
            <li>
                <a href={post.slug}>
                    <h3>{post.title}</h3>
                </a>
                <p>{post.description}</p>
                <time>{post.date}</time>
            </li>
        ))
    }
</ul>

<style>
    ul {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    li {
        background: white;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        padding: 32px 24px 48px 24px;
    }
</style>
