---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<div class="wrapper" {...storyblokEditable(blok)}>
    <div class="element">
        <h3>{blok.name}</h3>
        <p>{blok.content}</p>
    </div>
</div>

<style>
    .wrapper {
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }

    .element {
        background: white;
        padding: 32px 32px 48px 32px;
    }

    p {
        max-width: 480px;
    }
</style>
