---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<div class="wrapper" {...storyblokEditable(blok)}>
    <div class="element">
        <h3>{blok.name}</h3>
        <p>{blok.content}</p>
    </div>
</div>

<style>
    /* TEXT ELEMENT IN GRID */

    .wrapper {
        border-left: var(--main-border-weight) solid var(--main-border-color);
        border-bottom: var(--main-border-weight) solid var(--main-border-color);
        background: var(--main-bg-color);
    }

    .element {
        padding: 32px 32px 48px 32px;
        color: var(--main-text-color);
    }

    p {
        max-width: 480px;
    }

    .wrapper:first-child {
        border-left: 0px solid var(--main-border-color);
    }

    /* RESPONSIVE STYLES */

    @media (max-width: 929px) {
        .wrapper:nth-child(3n + 0) {
            border: 0px solid var(--main-border-color);
            outline: var(--main-border-weight) solid var(--main-border-color);
        }
    }

    @media (max-width: 619px) {
        .wrapper {
            border-left: 0px solid var(--main-border-color);
        }
    }
</style>
