---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<div class="wrapper" {...storyblokEditable(blok)}>
    <div class="element">
        <h3>{blok.name}</h3>
        <p>{blok.content}</p>
    </div>
</div>

<style>
    /* TEXT ELEMENT IN GRID */

    .wrapper {
        border-left: 2px solid white;
        border-bottom: 2px solid white;
    }

    .element {
        background: black;
        padding: 32px 32px 48px 32px;
        color: white;
    }

    p {
        max-width: 480px;
    }

    .wrapper:first-child {
        border-left: 0px solid white;
    }

    /* RESPONSIVE STYLES */

    @media (max-width: 929px) {
        .wrapper:nth-child(3n + 0) {
            border: 0px solid white;
            outline: 2px solid white;
        }
    }

    @media (max-width: 619px) {
        .wrapper {
            border-left: 0px solid white;
        }
    }
</style>
