---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<div class="wrapper" {...storyblokEditable(blok)}>
    <div class="element">
        <h3>{blok.name}</h3>
        <p>{blok.content}</p>
    </div>
</div>

<style>
    .wrapper {
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }

    .element {
        background: white;
        padding: 30px;
    }

    h3 {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: medium;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    p {
        max-width: 480px;
    }
</style>
