---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<form
    name="contact"
    method="POST"
    netlify-honeypot="bot-field"
    data-netlify="true"
    action="/success"
>
    <p class="hidden">
        <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
        </label>
    </p>
    <div class="section-container">
        <div class="element-container">
            <div class="wrapper">
                <div class="element">
                    <p>
                        <label>
                            Email<input type="email" name="email" />
                        </label>
                    </p>
                </div>
            </div>

            <div class="wrapper">
                <div class="element">
                    <p>
                        <label>Name<input type="text" name="name" /></label>
                    </p>
                </div>
            </div>

            <div class="wrapper">
                <div class="element">
                    <p>
                        <label
                            >Subject<input type="text" name="subject" />
                        </label>
                    </p>
                </div>
            </div>

            <div class="wrapper">
                <div class="element">
                    <p>
                        <label
                            >Message<input
                                class="message"
                                type="text"
                                name="message"
                            />
                        </label>
                    </p>
                </div>
            </div>

            <div class="element-button-wrapper">
                <div class="element-button">
                    <p>
                        <button type="submit">Send</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    form {
        color: white;
        background: black;
        border-bottom: 2px solid white;
        padding: 32px;
    }

    input {
        width: 100%;
        min-height: 40px;
        background: black;
        border: 2px solid white;
        box-shadow: 4px 4px 0px 1px white;
    }

    label,
    button {
        font-weight: bold;
        text-transform: uppercase;
    }

    button {
        background: white;
    }

    .wrapper {
        padding: 8px 0px;
    }

    .message {
        height: 80px;
    }
</style>
