---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

const { blok } = Astro.props;
---

<div class="section-container" {...storyblokEditable(blok)}>
    <div class="element-container">
        {
            blok.columns?.map((blok) => {
                return <StoryblokComponent blok={blok} />;
            })
        }
    </div>
</div>

<style>
    .element-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    }

    @media (max-width: 929px) {
        .section-container {
            border-bottom: 2px solid white;
        }
    }
</style>
