---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<div class="hero-section">
    <div {...storyblokEditable(blok)} class="element-container">
        <!-- <img
            class="element-image"
            src={blok.image?.filename}
            alt={blok.image?.alt}
        /> -->
        <h1 class="element-headline">
            {blok.headline}
        </h1>
        <p class="element-subline">
            {blok.subline}
        </p>
    </div>
</div>

<style>
    .hero-section {
        display: grid;
        place-items: end start;
        height: calc(100vh - 88px);
        color: white;
        background-color: black;
        background-size: cover;
        padding: 32px 32px 40px 32px;
        border-bottom: 2px solid white;
    }

    .element-image {
        position: absolute;
        top: 88px;
        left: 0;
        width: 100%;
        height: calc(100% - 88px);
        pointer-events: none;
    }

    .element-headline {
        max-width: 1000px;
    }

    .element-subline {
        font-size: 3em;
        line-height: 1.5;
        /* padding-bottom: 40px; */
        max-width: 600px;
    }

    @media (max-width: 850px) {
        .element-headline {
            font-size: 8em;
        }

        .element-subline {
            font-size: 2.8em;
        }
    }

    @media (max-width: 650px) {
        .element-headline {
            font-size: 3.6em;
        }

        .element-subline {
            font-size: 1.5em;
        }
    }
</style>
