---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<div class="hero-section">
    <div {...storyblokEditable(blok)} class="element-container">
        <h1 class="element-headline">
            {blok.headline}
        </h1>
        <p class="element-subline">
            {blok.subline}
        </p>
        <button class="element-button">{blok.cta}</button>
    </div>
</div>

<style>
    .hero-section {
        display: grid;
        place-items: center;
        height: 100vh;
        background-color: lightblue;
        background-size: cover;
    }

    .hero-section-content {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1em;
        color: white;
    }
</style>
