---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<div class="hero-section">
    <div {...storyblokEditable(blok)} class="element-container">
        <h1 class="element-headline">
            {blok.headline}
        </h1>
        <p class="element-subline">
            {blok.subline}
        </p>
        <div class="element-button-wrapper">
            <a class="element-button">{blok.cta}</a>
        </div>
    </div>
</div>

<style>
    .hero-section {
        display: grid;
        place-items: end start;
        height: calc(100vh - 88px);
        background-color: lightgray;
        background-size: cover;
        padding: 32px 32px 40px 32px;
        border-bottom: 2px solid #000;
    }

    .hero-section-content {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 1em;
        color: white;
    }

    .element-headline {
        max-width: 1000px;
    }

    .element-subline {
        font-size: 3em;
        line-height: 1.5;
        padding-bottom: 40px;
        max-width: 600px;
    }

    .element-button-wrapper {
        display: block;
    }

    .element-button {
        display: inline-block;
        cursor: pointer;

        background-color: white;
        color: black;
        outline: 2px solid black;
        box-shadow: 4px 4px 0px 1px #000;

        font-weight: bold;
        font-size: 1em;
        text-transform: uppercase;
        text-decoration: none !important;

        padding: 1em 2em;
        width: auto;
    }

    .element-button:hover {
        background-color: black;
        color: white;
    }

    @media (max-width: 768px) {
        .element-headline {
            font-size: 8em;
        }

        .element-subline {
            font-size: 2.8em;
        }
    }

    @media (max-width: 530px) {
        .element-headline {
            font-size: 3.6em;
        }

        .element-subline {
            font-size: 1.5em;
            padding-bottom: 24px;
        }
    }
</style>
