---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<div class="wrapper" {...storyblokEditable(blok)}>
    <img src={blok.image?.filename} alt={blok.image?.alt} />
</div>

<style>
    /* TEXT ELEMENT IN GRID */

    .wrapper {
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
</style>
