---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
    <h2>
        {blok.headline}
    </h2>
</div>

<style>
    div {
        background: black;
        border-bottom: 2px solid white;
        overflow: hidden;
        user-select: none;
    }

    h2 {
        color: white;
        white-space: nowrap;
        text-align: center;

        font-weight: bold;

        margin-top: 12px;
        /* padding-bottom: 1rem; */

        /* animation properties */
        transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);

        animation: my-animation 15s linear infinite;
        -moz-animation: my-animation 15s linear infinite;
        -webkit-animation: my-animation 15s linear infinite;
    }

    @media (max-width: 530px) {
        h2 {
            animation: my-animation 5s linear infinite;
            -moz-animation: my-animation 5s linear infinite;
            -webkit-animation: my-animation 5s linear infinite;
        }
    }

    /* for Firefox */
    @-moz-keyframes my-animation {
        from {
            -moz-transform: translateX(100%);
        }
        to {
            -moz-transform: translateX(-100%);
        }
    }

    /* for Chrome */
    @-webkit-keyframes my-animation {
        from {
            -webkit-transform: translateX(100%);
        }
        to {
            -webkit-transform: translateX(-100%);
        }
    }

    @keyframes my-animation {
        from {
            transform: translateX(100%);
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
        }
        to {
            transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
        }
    }
</style>
