---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
    <h2>
        &#8212; {blok.headline} &#8212;
    </h2>
</div>

<style>
    div {
        background: black;
        border-bottom: 2px solid white;
        overflow: hidden;
        user-select: none;
    }

    h2 {
        color: white;
        white-space: nowrap;
        text-align: center;

        font-weight: bold;

        margin-top: 12px;
        /* padding-bottom: 1rem; */

        animation: blur 12s ease 0s infinite;
        -webkit-animation: blur 12s ease 0s infinite;
        -moz-animation: blur 12s ease 0s infinite;
    }

    @keyframes blur {
        0%,
        100% {
            -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
        }
        50% {
            -webkit-filter: blur(3px);
            -moz-filter: blur(3px);
            -o-filter: blur(3px);
            -ms-filter: blur(3px);
        }
    }

    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: url(blur.svg#blur);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
</style>
