<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta
            name="description"
            content="Explore my sustainable design portfolio website and discover my innovative and eco-friendly designs. From architecture to product design, my work incorporates sustainable materials and practices to create beautiful, functional, and environmentally conscious designs."
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Vlam</title>
    </head>

    <body
        style="background-color:black; background-image:url(/favicon.svg); background-size:16px"
    >
        <slot />
    </body>
</html>
