---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

const { blok } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<footer>
    <div class="section-container">
        <div class="element-container">
            <div class="wrapper">
                <div class="element">
                    <h3>Menu</h3>
                    <a class={currentPath === '' ? 'active' : ''} href="/"
                        >Home</a
                    >
                    <a
                        class={currentPath === 'blog' ? 'active' : ''}
                        href="/blog">Blog</a
                    >
                    <a
                        class={currentPath === 'about' ? 'active' : ''}
                        href="/about">About</a
                    >
                    <a
                        class={currentPath === 'contact' ? 'active' : ''}
                        href="/contact">Contact</a
                    >
                </div>
            </div>
            <div class="wrapper">
                <div class="element">
                    <h3>Contact</h3>
                    <p>Straatnaam</p>
                    <p>Postcode</p>
                    <p>Land</p>
                    <p>Telefoonnummer</p>
                </div>
            </div>
            <div class="wrapper">
                <div class="element">
                    <h3>Socials</h3>
                    <a href="">Instagram</a>
                    <a href="">Facebook</a>
                    <a href="">LinkedIn</a>
                    <a href="">Mastodon</a>
                </div>
            </div>
        </div>
    </div>

    <!-- <form
        name="contact"
        method="POST"
        netlify-honeypot="bot-field"
        data-netlify="true"
    >
        <p class="hidden">
            <label>
                Don’t fill this out if you’re human: <input name="bot-field" />
            </label>
        </p>
        <div class="section-container">
            <div class="element-container">
                <div class="wrapper">
                    <div class="element">
                        <p>
                            <label>
                                Email: <input type="text" name="email" />
                            </label>
                        </p>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="element">
                        <p>
                            <label
                                >Name: <input type="text" name="name" />
                            </label>
                        </p>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="element">
                        <p>
                            <button type="submit">Send</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form> -->

    <style>
        footer {
            min-height: calc(100vh - 88px);
            color: white;
            background: black;
        }

        a,
        p {
            display: block;
            padding-bottom: 8px;
        }

        a:hover {
            text-decoration: underline;
        }

        a.active {
            text-decoration: underline;
        }

        .element {
            padding: 32px;
        }

        .element-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
            grid-template-rows: auto;
        }

        .wrapper {
            /* border-top: 2px solid black; */
            border-left: 2px solid white;
            border-bottom: 2px solid white;
        }

        .wrapper:first-child {
            border-left: 0px solid white;
        }

        @media (max-width: 929px) {
            .wrapper:nth-child(3n + 0) {
                border: 0px solid white;
                outline: 2px solid white;
            }

            .section-container {
                border-bottom: 2px solid white;
            }
        }

        @media (max-width: 619px) {
            .wrapper {
                border-left: 0px solid white;
            }
        }
    </style>
</footer>
