---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

const { blok } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<footer>
    <div class="section-container">
        <div class="element-container">
            <div class="wrapper">
                <div class="element">
                    <h3>Sitemap</h3>
                    <a class={currentPath === '' ? 'active' : ''} href="/"
                        >Home</a
                    >
                    <a
                        class={currentPath === 'blog' ? 'active' : ''}
                        href="/blog">Blog</a
                    >
                    <a
                        class={currentPath === 'about' ? 'active' : ''}
                        href="/about">About</a
                    >
                    <a
                        class={currentPath === 'contact' ? 'active' : ''}
                        href="/contact">Contact</a
                    >
                </div>
            </div>
            <div class="wrapper">
                <div class="element">
                    <h3>Contact</h3>
                    <p>Straatnaam</p>
                    <p>Postcode</p>
                    <p>Land</p>
                    <p>Telefoonnummer</p>
                </div>
            </div>
            <div class="wrapper">
                <div class="element">
                    <h3>Socials</h3>
                    <a href="">Instagram</a>
                    <a href="">Facebook</a>
                    <a href="">LinkedIn</a>
                    <a href="">Mastodon</a>
                </div>
            </div>
        </div>
    </div>
    <form name="contact" netlify>
        <p>
            <label>Name <input type="text" name="name" /></label>
        </p>
        <p>
            <label>Email <input type="email" name="email" /></label>
        </p>
        <p>
            <button type="submit">Send</button>
        </p>
    </form>
</footer>

<style>
    footer {
        min-height: calc(100vh - 86px);
    }

    a,
    p {
        display: block;
        padding-bottom: 8px;
    }

    a:hover {
        text-decoration: underline;
    }

    h3 {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: medium;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    a.active {
        text-decoration: underline;
    }

    .element {
        padding: 30px;
    }

    .section-container {
        background: white;
        border-left: 2px solid black;
    }

    .element-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    .wrapper {
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }
</style>
